---
// component imports
import MainHead from './MainHead.astro';

// style imports
import "../styles/global.css";

const {
  title = "My Astro Blog",
  description = "My musings about the astro framework",
} = Astro.props;
---

<html lang="en">
  <MainHead title={title} description={description} />
	<body>
		<slot>Default Text</slot>
	</body>
</html>
